node_modules
npm-debug.log
coverage
.git
.gitignore
.env*
.gitlab-ci.yml
README.md
docker-compose*.yml
Dockerfile*
.docker
.husky
.vscode
*.md
*.log
*.test.js
*.spec.js
test/
tests/
__tests__/
.npm/
.cache/