# compiled output
/node_modules
/dist
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
dist/tsconfig.build.tsbuildinfo
dist/artists/infrastructure/artists.handler.js
dist/artists/infrastructure/artists.handler.js.map
dist/artists/infrastructure/entities/artist.entity.d.ts
dist/artists/infrastructure/entities/artist.entity.js
dist/artists/infrastructure/entities/artist.entity.js.map
dist/artists/infrastructure/entities/follower.entity.d.ts
dist/artists/infrastructure/entities/follower.entity.js
dist/artists/infrastructure/entities/follower.entity.js.map
dist/artists/infrastructure/entities/genders.entity.d.ts
dist/artists/infrastructure/entities/genders.entity.js
dist/artists/infrastructure/entities/genders.entity.js.map
dist/artists/infrastructure/entities/tag.entity.d.ts
dist/artists/infrastructure/entities/tag.entity.js
dist/artists/infrastructure/entities/tag.entity.js.map
dist/artists/usecases/findArtist.usecases.d.ts
dist/artists/usecases/findArtist.usecases.js
dist/artists/usecases/findArtist.usecases.js.map
dist/auth/domain/auth.service.js
dist/auth/domain/auth.service.js.map
dist/global/domain/interfaces/jwtPayload.interface.d.ts
dist/global/infrastructure/guards/auth.guard.d.ts
dist/global/infrastructure/guards/auth.guard.js
dist/global/infrastructure/guards/auth.guard.js.map
dist/users/infrastructure/entities/user.entity.d.ts
dist/users/infrastructure/entities/user.entity.js
dist/users/infrastructure/entities/user.entity.js.map
dist/users/usecases/user/crerateUserByType.usecase.d.ts
dist/tsconfig.build.tsbuildinfo
dist/artists/artists.module.js
dist/artists/artists.module.js.map
dist/artists/domain/services/artists.service.d.ts
dist/artists/domain/services/artists.service.js
dist/artists/domain/services/artists.service.js.map
dist/artists/domain/services/followers.service.d.ts
dist/artists/domain/services/followers.service.js
dist/artists/domain/services/followers.service.js.map
dist/artists/infrastructure/artists.controller.d.ts
dist/artists/infrastructure/artists.controller.js
dist/artists/infrastructure/artists.controller.js.map
dist/artists/infrastructure/artists.handler.d.ts
dist/artists/infrastructure/artists.handler.js
dist/artists/infrastructure/artists.handler.js.map
dist/artists/infrastructure/dtos/follow.dto.d.ts
dist/artists/infrastructure/dtos/follow.dto.js
dist/artists/infrastructure/dtos/follow.dto.js.map
dist/artists/usecases/findArtist.usecases.js
dist/artists/usecases/findArtist.usecases.js.map
dist/artists/usecases/followArtist.usecase.d.ts
dist/artists/usecases/followArtist.usecase.js
dist/artists/usecases/followArtist.usecase.js.map
dist/artists/usecases/updateArtistProfilePicture.usecase.js
dist/artists/usecases/updateArtistProfilePicture.usecase.js.map
dist/artists/usecases/updateArtstBasicInfo.usecase.js
dist/artists/usecases/updateArtstBasicInfo.usecase.js.map
dist/artists/usecases/interfaces/addFollowtoArtist.param.d.ts
dist/artists/usecases/interfaces/addFollowtoArtist.param.js
dist/artists/usecases/interfaces/addFollowtoArtist.param.js.map
dist/auth/usecases/defaultLogin.usecase.js
dist/auth/usecases/defaultLogin.usecase.js.map
dist/global/infrastructure/exceptions/resolveDomainException.d.ts
dist/global/infrastructure/exceptions/resolveDomainException.js
dist/global/infrastructure/exceptions/resolveDomainException.js.map
dist/global/infrastructure/guards/auth.guard.js
dist/global/infrastructure/guards/auth.guard.js.map
