image: node:latest

before_script: 
  - apt-get update -qy
  - apt-get install -y ruby-dev
  - gem install dpl

stages:
  - lint
  - staging

tslint:
  image: node:10-alpine
  stage: lint
  script:
    - yarn lint
  tags:
    - private

prettier:
  image: node:10-alpine
  stage: lint
  script:
    - yarn
    - yarn format-check
  tags:
    - private

staging:
    stage: staging
    image: ruby:latest
    when: manual
    script:
        - echo $HEROKU_APP
        - echo $HEROKU_API_KEY
        - dpl --provider=heroku --app=$HEROKU_APP --api-key=$HEROKU_API_KEY