version: '3.8'

services:
  app:
    build:
      context: ../
      dockerfile: Dockerfile
    container_name: nestjs-app
    restart: unless-stopped
    environment:
      - PORT=3000
      - HOST=0.0.0.0
      - APP_URL=http://0.0.0.0:3000
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - TYPEORM_SYNC=${TYPEORM_SYNC}
      - AWS_ACCESS_KEY=${AWS_ACCESS_KEY}
      - AWS_ACCESS_SECRET=${AWS_ACCESS_SECRET}
      - SMS_AWS_ACCESS_KEY=${SMS_AWS_ACCESS_KEY}
      - SMS_AWS_ACCESS_SECRET=${SMS_AWS_ACCESS_SECRET}
      - SENDGRID_API_KEY=${SENDGRID_API_KEY}
      - AWS_REGION=${AWS_REGION}
      - AWS_ARTISTS_BUCKET=${AWS_ARTISTS_BUCKET}
      - CLOUD_FRONT_URL=${CLOUD_FRONT_URL}
      - JWT_ISSUER=${JWT_ISSUER}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - JWT_EXPIRATION=${JWT_EXPIRATION}
      - TZ=${TZ}
      - NODE_ENV=${NODE_ENV}
      - ACCOUNT_VERIFICATION_MAX_SMS_TRIES=${ACCOUNT_VERIFICATION_MAX_SMS_TRIES}
      - FORGOT_PASSWORD_VERIFICATION_MAX_SMS_TRIES=${FORGOT_PASSWORD_VERIFICATION_MAX_SMS_TRIES}
    expose:
      - "3000"
    networks:
      - backend

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    networks:
      - backend

  cloudflare-ddns:
    image: timothyjmiller/cloudflare-ddns:latest
    container_name: cloudflare-ddns
    volumes:
      - ./cloudflare-ddns/config.json:/config.json
    restart: unless-stopped
    network_mode: host

networks:
  backend:
    driver: bridge