version: '3'
services:
  database:
    image: "postgres" 
    env_file:
      - database.env
    ports: 
      - "5432:5432" 
    volumes:
      - database-data:/var/lib/postgresql/data/
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql 
volumes:
  database-data: 