<!-- Footer -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #f8f6ff;">
    <tr>
        <td align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="600" style="margin: 0 auto;">
                <tr>
                    <td align="center" style="padding: 20px;">
                        <!-- Enlaces de Redes Sociales -->
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td><a href="https://www.facebook.com/" target="_blank"><img src="https://i.ibb.co/5r0H3fZ/facebook2x.png" alt="facebook2x" style="display: block; width: 32px; height: auto; border: 0;"></a></td>
                                <td style="width: 10px;"></td>
                                <td><a href="https://www.twitter.com/" target="_blank"><img src="https://i.ibb.co/B47dHSg/twitter2x.png" alt="twitter2x" style="display: block; width: 32px; height: auto; border: 0;"></a></td>
                                <td style="width: 10px;"></td>
                                <td><a href="https://www.linkedin.com/" target="_blank"><img src="https://i.ibb.co/DV9mNMz/linkedin2x.png" alt="linkedin2x" style="display: block; width: 32px; height: auto; border: 0;"></a></td>
                                <td style="width: 10px;"></td>
                                <td><a href="https://www.instagram.com/" target="_blank"><img src="https://i.ibb.co/qxwDmpj/instagram2x.png" alt="instagram2x" style="display: block; width: 32px; height: auto; border: 0;"></a></td>
                            </tr>
                        </table>
                        <p style="font-size: 12px; color: #666666; margin-top: 20px;">Has recibido este correo electrónico porque estás suscrito a <a href="http://example.com/" style="color: #3e2d9c; text-decoration: underline;">este sitio</a></p>
                        <p style="font-size: 12px; color: #666666;">Si crees que lo has recibido por error o deseas darte de baja, <a href="http://example.com/unsubscribe" style="color: #3e2d9c; text-decoration: underline;">haz clic aquí</a>.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
