<!-- Header -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #a797ff;">
    <tr>
        <td align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="600" style="margin: 0 auto;">
                <tr>
                    <td align="center" style="padding: 20px; text-align: center;">
                        <h1 style="color: #ffffff; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; margin-top: 20px; text-align: center;">
                        {{#if message}}
                            {{message}}
                        {{else}}
                            Hola!
                        {{/if}}
                        </h1>
                        <!-- Logo or Main Image -->
                        <a href="http://www.example.com/" target="_blank">
                            <img src="https://i.ibb.co/942gkTK/Email-Illustration.png" alt="Email-Illustration" style="max-width: 100%; height: auto; border: 0;">
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>